 *{
 	 padding:0;
        margin:0;
 }
 #all_item2{
      	width: 100%;
      	 height: 64px;
      	 top: 0px;
      	 position: fixed;
      	 z-index: 999;
      }
      .hl_nav{
    background-color: black;
    position: relative;
    color: #ffffff;
    min-width: 1200px;
    height: 64px;
}
.carousel-inner img{
	height: 500px;
	width: 1000px;
	margin: 0 auto;
}
.hl_nav a{
    display: block;
    text-decoration: none;
}
.hl_nav .shade{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 64px;
    left: 0;
    z-index: 1;
    background-color: #EEEEEE;
    opacity: 0.9;
    filter: alpha(opacity=90);
    box-shadow: 0 5px 15px #CCCCCC;
    display: none;
    border-bottom: #ffffff solid 1px;
    border-bottom: rgba(255,255,255,0.3) solid 1px;
}
.hl_nav .nav_list{
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -600px;
    z-index: 2;
    padding: 0;
    list-style: none;
    width: 1200px;
    overflow: hidden;
    height: 64px;
}
.hl_nav .nav_list>li{
    padding: 0;
    float: left;
    margin: 0;
    width: 120px;
    text-align: center;
    height: 264px;
}
.hl_nav .nav_head{
    height: 64px;
    line-height: 64px;
    color: #ffffff;
    font-size: 16px;
    background-color: black;
}   
.hl_nav .nav_head .icon{
    font-size: 18px;
}
.hl_nav .item{
    height: 40px;
    line-height: 40px;
    color: #333333;
    position: relative;
}
.hl_nav .item:hover:after{
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 2px;
    bottom: 5px;
    left: 30px;
    background-color: #FD463E;
}
.hl_nav .nav_list:hover{
    height: 264px;
    transition: height 0.3s;
}
.hl_nav .nav_list:hover + .shade{
    display: block;
}
.hl_nav .nav_list>li.highlight:hover{
    background-color: #ffffff;
}
.hl_nav .nav_list>li:hover .nav_head,.hl_nav .nav_list>li.active .nav_head{
    background-color: #EA0D04;
}
.hl_nav .nav_list>li.right{
    float: right;
}
.hl_nav .nav_list>li:hover .item{

}
     #footer{
     	
			   	height: 250px;
			   	width: 100%;
			   	background-color:black;
			   	float: left;
			   }
			   #foot_1{
			   	height: 200px;
			   	width: 80%;
			   	background-color:black;
			   	margin: 0px auto;
			   margin-top: 50px;
			   }
			   .foot_item{
			   	width: 10%;
			   	margin-left: 50px;
			   	float: left;
			   	text-align: left;
			   }
			   .foot_item font{
			   	font-weight: bold;
			   	font-size: 20px;
			   	color: white;
			   	margin-top: 50px;
			   }
			   .foot_item li{
			   	margin-top: 20px;
			   	font-size: 15px;
			   	 list-style: none;
			   }
			   #foot_2{
			   	height: 200px;
			   	width: 30%;
			   	float: left;
			   	margin-left: 80px;
			   }
			   #foot_2 font{
			   	font-weight: bold;
			   	font-size: 20px;
			   	color: white;
			   }
			   #foot_1 a{
			   	text-decoration: none;
			   	color: white;
			   }
			   #foot_2 h2{
			   	color: whitesmoke;
			   	margin-top: 20px;
			   }  
			   #foot_2 p{
			   	color: whitesmoke;
			   	margin-top: 20px;
			   }
               #foot_2 hr{
               	margin-top: 20px;
               	color: whitesmoke;
               }
